* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0b4654;
  font-family: 'Athiti', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
  align-items: center;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 63px;
}

.brand-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  color: inherit;
}

img {
  width: 100%;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.burger {
  width:24px;
  height:24px;
  background:url(../img/burger.png);
  background-size: cover;
  display: none;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  padding-top: 90px;
  padding-inline: 32px;
}

.main-text {
  width: 50%;

}

span {
  color: #07B464;
}

h1 {
font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 45px;
line-height: 64px;
margin-bottom: 22px;
width: 86%;
}

.main-paragraf {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 32px;
  width: 72%;
}

.know-button {
  background: linear-gradient(180deg, #34E06F 0%, #07B464 100%);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(255, 255, 255, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 60px;
  margin-top: 10px;
  display: inline-block;

}

.main-img {
  width: 667px;
  margin-top: -135px;
  padding-right: 20px;
  /* background-color: #EBFCF4; */
}

.main-img-yoga {
width: 100%;
}

.small-img {
  margin-top: 20px;
  margin: 0 auto;
  width: 120px;
  margin-right: 500px;
}

.small-img-img {
width: 100%;

} 

.sub-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: -10%;
  margin-top: 35px;
}
  
.text-small-small {
  margin-top: 20px;
  font-family: 'Inter';
font-weight: 400;
font-size: 20px;
line-height: 16px;
letter-spacing: 0.132615px;
color: #5C5C5C;
width: 50%;
}




  
@media screen and (max-width: 1024px) {
  .menu-list {
    display: none;
  }

  .burger {
    display: block;
  }
  main {
    flex-direction: column;
    padding-top: 0;
  }

  .logo {
    width: 56px;
    height: 48px;
  }

  .brand-name {
    font-family: 'Athiti';
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }

  .main-text {
    width: 100%;
    padding-inline: 24%;
  }

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: auto;
    text-align: center;
  }

  .main-paragraf {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-inline: 11%;
    width: 100%;
  }
  
  .know-button {
    display: block;
    margin: 0 auto;
    width: 203px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .main-img {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    margin-inline: auto;
  }
  
  .small-img {
    width: 10%;
    margin: 0 auto;
    padding-top: 20px;
  
  }

  .sub-text {
    width: 100%;
    padding-inline: 40%;
  }

  .text-small {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    width: 190%;
    text-align: center;
  }

  .text-small-small {
    margin-top: 20px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.132615px;
  color: #5C5C5C;
  width: 50%;
  text-align: center;
  width: 180%;
  }
}