* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0b4654;
  font-family: 'Athiti', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 63px;
}

.brand-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  color: inherit;
}

img {
  width: 100%;
}

ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
