* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0b4654;
  font-family: 'Athiti', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 63px;
}

.brand-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  color: inherit;
}

img {
  width: 100%;
}

ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  padding-top: 90px;
  padding-inline: 32px;
}

.main-text {
  width: 50%;

}

span {
  color: #07B464;
}

h1 {
font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 45px;
line-height: 64px;
margin-bottom: 22px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 32px;
}

.know-button {
  background: linear-gradient(180deg, #34E06F 0%, #07B464 100%);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(255, 255, 255, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 60px;
  margin-top: 10px;
  display: inline-block;

}

.main-img {
  width: 667px;
  margin-top: -135px;
  padding-right: 20px;
  background-color: #EBFCF4;
}

.main-img-yoga {
width: 100%;
}

.footer-text {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 64px;
  color: #0b4654;
  }